/* src/app/globals.css */
@import "./tailwind.css";

/* Additional global styles */

body{
  font-family: var(--font-poppins), sans-serif;
}
html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: linear-gradient(to left, #FFF6E5,#FFF7E9,#FFFFFF)
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

section {
  padding: 50px 0;
}

@media (min-width: 768px) {
  section {
    padding: 100px 0;
  }
}

.hero {
  background: linear-gradient(to left, #FFF6E5,#FFF7E9,#FFFFFF);
}
.about {
}
