/* src/app/globals.css */
@import './tailwind.css';

/* Additional global styles */

body {
  font-family: var(--font-poppins), sans-serif;
  overflow-x: hidden; /* Hide horizontal scrollbar */
}
html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: linear-gradient(
    to bottom,
    #3a6b6e,
    #5e8578,
    #8a8a6e,
    #b99b7c,
    #d9ad8c
  );
  background-attachment: fixed;
  background-size: cover;
  min-height: 100vh;
  color: #fff;
  width: 100%;
  overflow-x: hidden; /* Hide horizontal scrollbar */
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  width: 100%;
}

section {
  padding: 50px 0;
  width: 100%;
}

@media (min-width: 768px) {
  section {
    padding: 55px 0;
  }
}

/* Hide scrollbar for Chrome, Safari and Opera */
::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
html {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
